{% extends '../base.html %}  <!--상속처리. base.html에서 공통부분 상속받기때문에, 여기에는 공통되지 않는 부분만 남겨주면 된다.-->

{% block css_link %}
<link href="/assets/css/main.css" rel="stylesheet" type="text/css">  <!--statics에 연결할 수 있도록 setting에서 설정해준다 !-->
{% endblock %}


{% block content %}
				<div id="site-introduction">
					<img id="profile" src="/assets/images/koala.png">  <!--프로필 사진 (statistics의 image 폴더에 저장함)-->
					<h2>안녕하세요. 코알라의  mysite에 오신 것을 환영합니다.</h2>
					<p>
						이 사이트는  웹 프로그래밍 실습과제 예제 사이트입니다.<br>
						메뉴는  사이트 소개, 방명록, 게시판이 있구요. Python 수업 + 데이터베이스 수업 + 웹프로그래밍 수업 배운 거 있는거 없는 거 다 합쳐서
						만들어 놓은 사이트 입니다.<br>
						코알라는 파브로를 사랑한답니다. 아주아주 많이요. <br><br>
						<a href="/guestbook">방명록</a>에 글 남기기<br>
					</p>
				</div>
{% endblock %}