{% extends '../base.html' %}
{% load mathfilters %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}

			<div id="board">
				<form id="search_form" action="" method="post">
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>


				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>

					{% for boardlist in board_list %}

					<tr>
						<td>{{ board_list | length | sub:forloop.counter | add:1 }}</td>
						<td><a href="/board/view?no={{ boardlist.no }}" style="text-align:left; padding-left:{{ boardlist.depth|mul:30 }}px">
							{% if boardlist.depth != 0 %}
							<img src="/assets/images/reply.png">
							{% endif %}

							{{ boardlist.title }}{{ boardlist.depth }}</a></td>
						<td>{{ boardlist.name }}</td>
						<td>{{ boardlist.hit }}</td>
						<td>{{ boardlist.reg_date }}</td>
						<td><a href="/board/deleteform?no={{ boardlist.no }}" class="del">삭제</a></td>
					</tr>

					{% endfor %}
<!--					<tr>-->
<!--						<td>3</td>-->
<!--						<td><a href="" style="text-align:left; padding-left:0px">세 번째 글입니다.</a></td>-->
<!--						<td>안대혁</td>-->
<!--						<td>3</td>-->
<!--						<td>2015-10-11 12:04:20</td>-->
<!--						<td><a href="" class="del">삭제</a></td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<td>2</td>-->
<!--						<td><a href="" style="text-align:left; padding-left:30px"><img src="/assets/images/reply.png">두 번째 글입니다.</a></td>-->
<!--						<td>안대혁</td>-->
<!--						<td>3</td>-->
<!--						<td>2015-10-02 12:04:12</td>-->
<!--						<td><a href="" class="del">삭제</a></td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<td>1</td>-->
<!--						<td><a href="" style="text-align:left; padding-left:60px"><img src="/assets/images/reply.png">첫 번째 글입니다.</a></td>-->
<!--						<td>안대혁</td>-->
<!--						<td>3</td>-->
<!--						<td>2015-09-25 07:24:32</td>-->
<!--						<td><a href="" class="del">삭제</a></td>-->
<!--					</tr>-->
				</table>
				
				<!-- pager 추가 -->
				<div class="pager">
					<ul>
						<li><a href="">◀</a></li>    <!-- 이전페이지(prevpage)가 n보다 크면 표시 -->
						<li><a href="">1</a></li>    <!-- 이전페이지 -->
						<li class="selected">2</li>  <!-- 현재페이지 (if 조건문 줘서 빨간색으로 표시) -->
						<li><a href="">3</a></li>    <!-- 다음페이지 -->
						<li>4</li>  				 <!-- 없는 페이지. (흐린 회색으로 표시) -->
						<li>5</li>  				 <!-- 없는 페이지. (흐린 회색으로 표시) -->
						<li><a href="">▶</a></li>    <!-- 다음페이지(nextpage)가 m보다 크면 표시 -->
					</ul>
				</div>					
				<!-- pager 추가 -->

				{% if request.session.authuser is not None %}
				<div class="bottom">
					<a href="/board/writeform" id="new-book">글쓰기</a>
				</div>
				{% endif %}
			</div>
{% endblock %}