{% extends '../base.html %}  <!--상속처리. base.html에서 공통부분 상속받기때문에, 여기에는 공통되지 않는 부분만 남겨주면 된다.-->
{% load mathfilters %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}

			<div id="board">
				<form id="search_form" action="" method="post">
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>				
					<tr>
						<td>3</td>
						<td><a href="" style="text-align:left; padding-left:0px">세 번째 글입니다.</a></td>
						<td>안대혁</td>
						<td>3</td>
						<td>2015-10-11 12:04:20</td>
						<td><a href="" class="del">삭제</a></td>
					</tr>
					<tr>
						<td>2</td>
						<td><a href="" style="text-align:left; padding-left:30px"><img src="/assets/images/reply.png">두 번째 글입니다.</a></td>
						<td>안대혁</td>
						<td>3</td>
						<td>2015-10-02 12:04:12</td>
						<td><a href="" class="del">삭제</a></td>
					</tr>
					<tr>
						<td>1</td>
						<td><a href="" style="text-align:left; padding-left:60px"><img src="/assets/images/reply.png">첫 번째 글입니다.</a></td>
						<td>안대혁</td>
						<td>3</td>
						<td>2015-09-25 07:24:32</td>
						<td><a href="" class="del">삭제</a></td>
					</tr>
				</table>
				
				<!-- pager 추가 -->
				<div class="pager">
					<ul>
						<li><a href="">◀</a></li>    <!-- 이전페이지(prevpage)가 n보다 크면 표시 -->
						<li><a href="">1</a></li>    <!-- 이전페이지 -->
						<li class="selected">2</li>  <!-- 현재페이지 (if 조건문 줘서 빨간색으로 표시) -->
						<li><a href="">3</a></li>    <!-- 다음페이지 -->
						<li>4</li>  				 <!-- 없는 페이지. (흐린 회색으로 표시) -->
						<li>5</li>  				 <!-- 없는 페이지. (흐린 회색으로 표시) -->
						<li><a href="">▶</a></li>    <!-- 다음페이지(nextpage)가 m보다 크면 표시 -->
					</ul>
				</div>					
				<!-- pager 추가 -->
				
				<div class="bottom">
					<a href="" id="new-book">글쓰기</a>
				</div>				
			</div>
{% endblock %}